<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Instituto Federal do Paraná</ion-card-subtitle>
    <ion-card-title>Controle de Emprestimo de Materiais</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-img height="100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Instituto_Federal_do_Paran%C3%A1_-_Marca_Vertical_2015.svg/1200px-Instituto_Federal_do_Paran%C3%A1_-_Marca_Vertical_2015.svg.png"></ion-img>


<ion-card>
  <ion-item href="#" class="activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-button color="secondary" expand="full" href="curso-listar">Cursos</ion-button> 

  </ion-item>

  <ion-item >
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-button color="tertiary" expand="full" href="funcionario-listar">Funcionarios</ion-button>

  </ion-item>

  <ion-item class="activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-button color="success" expand="full" href="listar-aluno">Alunos</ion-button>

  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-button color="danger" expand="full" href="materia-listar">Materiais</ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-button color="danger" expand="full" href="listar-emprestimo">Emprestar</ion-button>
  </ion-item>

</ion-card>